<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styles.css">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300,400,400i|Nunito:300,300i" rel="stylesheet">
</head>
<body>
<h1>welcome to our page</h1>
        <div class="container">
{% load static %}

<div class=”gallery”>
  <figure class="gallery__item gallery__item--1">
    <img src={% static "image-2.jpeg" %} class="gallery__img" alt="Image 2">
  </figure>

</div>
            </div>
</body>
</html>